@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.title{
    background: #5274ec;
    height: 40px;
    color: white;
    font-size: 20px;
    line-height: 40px;
    padding-left: 10px;
    font-weight: 500;
}

.table{
    border-collapse: collapse;
}

.table th{
    height: 30px;
    background: #e7e6e6;
    font-size: 12px;
    font-weight: 300;
    color: #696969;
}

.table td{
    font-size: 18px;
    padding: 0 10px;
    height: 30px;
    border-top: 1px #d7d7d7 solid;
    border-bottom: 1px #d7d7d7 solid;
    background-color: rgba(255, 255, 255, 0.81);
}

.table td:nth-child(1){

}

.table td:nth-child(2){
    width: 300px;
    cursor: pointer;
}


.table td:nth-child(3){
    font-weight: 500;
}

.sport_results{
    width: 405px;
    border-radius: 10px;
    overflow: hidden;
    background-image: url("../images/skiers.jpg");
    background-size: cover;
}
.country{
    font-size: 10px;
    color: #5b5b5b;
    margin-left: 10px;
    display: none;
}

.table td:nth-child(2):hover .country{
    display: inline;
}