@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: #c8e0ff;
    font-family: 'Roboto', sans-serif;
}

.plane_img {
    width: 400px;
}
.plane_img:hover{
    border: 5px red solid;
}

table{
    border-collapse: collapse;
}

td{
    border: 1px black solid;
    font-size: 20px;
    font-weight: 400;
    font-style: oblique;
}

#logo{
    width: 200px;
    height: 100px;
}

