@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Rubik', sans-serif;
    background: rgb(51,206,195);
    background: linear-gradient(270deg, rgba(51,206,195,1) 0%, rgba(216,250,63,1) 100%);
}

.main_window{
    width: 500px;
    height: 800px;
    background: #FFFFFF;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px 30px;
    margin: -440px 0 0 -280px;
}

h1{
    font-weight: 500;
    text-align: left;
}

input[type=text]{
    width: 430px;
    font-size: 20px;
    outline: none;
    height: 30px;
    border: none;
    padding-left: 20px;
}

.icon {
    height: 30px;
}

table{
    border-collapse: collapse;
}

td{
    border-bottom: 2px black solid;
}